In [7]:
import pandas as pd

In [9]:
import numpy as np

In [3]:
df=pd.read_csv("student.csv")

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [84]:
#PART A : STUDENT DATASET

In [9]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [86]:
grouped_stats = df.groupby("gender").agg(
    math_mean=("math score","mean"),
    math_median=("math score","median"),
    math_min=("math score","min"),
    math_max=("math score","max"),
    math_std=("math score","std"),

    reading_mean=("reading score","mean"),
    readin_std=("reading score","std"),

    writing_mean=("writing score","mean"),
    writing_std=("writing score","std")
)

print(grouped_stats)

        math_mean  math_median  math_min  math_max   math_std  reading_mean  \
gender
female  63.633205         65.0         0       100  15.491453     72.608108
male    68.728216         69.0        27       100  14.356277     65.473029

        readin_std  writing_mean  writing_std
gender
female   14.378245     72.467181    14.844842
male     13.931832     63.311203    14.113832

In [88]:
math_score_list = df.groupby("gender")["math score"].apply(list)
print(math_score_list)

gender
female    [72, 69, 90, 71, 88, 38, 65, 50, 69, 18, 54, 6...
male      [47, 76, 40, 64, 58, 40, 78, 88, 46, 66, 44, 7...
Name: math score, dtype: object

In [91]:
for g in df["gender"].unique():
    print ("\n Statistical details for :",g)
    print (df[df["gender"] == g][["math score","reading score","writing score"]].describe())

 Statistical details for : female
       math score  reading score  writing score
count  518.000000     518.000000     518.000000
mean    63.633205      72.608108      72.467181
std     15.491453      14.378245      14.844842
min      0.000000      17.000000      10.000000
25%     54.000000      63.250000      64.000000
50%     65.000000      73.000000      74.000000
75%     74.000000      83.000000      82.000000
max    100.000000     100.000000     100.000000

 Statistical details for : male
       math score  reading score  writing score
count  482.000000     482.000000     482.000000
mean    68.728216      65.473029      63.311203
std     14.356277      13.931832      14.113832
min     27.000000      23.000000      15.000000
25%     59.000000      56.000000      53.000000
50%     69.000000      66.000000      64.000000
75%     79.000000      75.000000      73.750000
max    100.000000     100.000000     100.000000

In [55]:
#PART B : IRIS DATASET

In [11]:
df = pd.read_csv("iris.csv")

In [13]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [15]:
species_list= df["Species"].unique()


#display

for sp in species_list:
    print ("\n Statistical details for :",sp)
    print (df[df["Species"] == sp].describe())

 Statistical details for : Iris-setosa
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

 Statistical details for : Iris-versicolor
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

 Statistical details for : Iris-virginica
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000

In [19]:
# Load iris dataset
from sklearn.datasets import load_iris

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['Species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

# Group by species and get descriptive statistics
grouped_stats = df.groupby('Species').describe()
print(grouped_stats)

           sepal length (cm)                                              \
                       count   mean       std  min    25%  50%  75%  max
Species
setosa                  50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor              50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica               50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal width (cm)         ... petal length (cm)       \
                      count   mean  ...               75%  max
Species                             ...
setosa                 50.0  3.428  ...             1.575  1.9
versicolor             50.0  2.770  ...             4.600  5.1
virginica              50.0  2.974  ...             5.875  6.9

           petal width (cm)
                      count   mean       std  min  25%  50%  75%  max
Species
setosa                 50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
versicolor             50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
virginica              50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

/tmp/ipykernel_5889/2267040073.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_stats = df.groupby('Species').describe()